

<div id="pane-services" class="hc-paragraph" style="float:right; width: 50%">
  <h2>Authentications</h2>
  <%= render 'authentications_tab' %>

  <div id="services_available" class="hc-table-normal">
  <h3>Add more Authentications:</h3>
  <!--%= render 'services_list'%-->
  </div>
</div>

<div id="pane-applications" class="hc-paragraph" style="float:left; width: 50%">
  <h2>Applications</h2>
  <%= render 'applications_tab' %>

  <% if is_admin_session? %>
  <div id="services_available" class="hc-table-normal hc-admin-session">
  <h3>Application Management:</h3>
  <div>
    <a href="/siso/oauth/applications">Registered Applications</a>
  </div>
  </div>
  <% end %>
</div>

<!-- vim: set ts=2 sw=2 expandtab: -->
