/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {font-family: 서울남산체, 나눔고딕, "맑은 고딕", "Malgun Gothic"; }
html,body { height:100%; margin:0; padding:0; border:0; }
body { background:#ddd; background-image: -moz-linear-gradient(#fff, #999); }
body { padding:10px; }
body { background-image: url("/images/orion.png");
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 150px;
}

h1,h2,h3,h4,h5 { margin:5px 0; text-shadow: 0px 1px 1px rgba(0, 0, 0, 1); }
a { text-decoration:none; color:blue; }
h2 { border-bottom: solid 2px #444; margin: 5px 0 10px; }

div#page-head { background:black; color:white; 
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
	background-image: -moz-linear-gradient(#666, #000); }
h1#prod-title { display:inline-block;
	margin:0; line-height: 40px; padding: 10px 8px 0px; }
span#prod-comment { letter-spacing:-1px; }
div#info-box { float: right; }
div#info-user { letter-spacing:-1px; }
div#info-user ul { padding:0 5px; color:#bbb; }
div#info-user ul * { display:inline; vertical-align:top; }
div#info-user ul * a { color:white; }
div#info-user ul img { border:1px solid #bbb; height:50px; }

div#flash { background: #fff; }
div.flash { padding:5px; border:2px solid #000; }
div.notice { background:#cfd; color:#050; }
div.error { background:#fdd; color:#500; }

div#page-body { padding:10px; }

div.float-box { float:right; }

div#user-info { padding:5px; background:#eeb; border:1px solid #999;
	min-width:300px; font-size: 0.9em;
	border-radius: 5px;
}
#user-profile div {text-align:right; color:#555; }
#user-info img { height:100px; float:left; margin-right:5px; }
#user-info ul li { list-style:none; }

div.service_in_use { padding:10px; margin:10px; border:1px dashed #aaa;
	white-space:nowrap; display:inline-block; width:450px;
	background:#eee; }
div.service_in_use * { display:inline; }
div.service_img { float:left; margin-right:10px; }
div.service_userdata span { color:green; }

/* copy... */

* { -moz-box-sizing: border-box; }

body,* { margin: 0; padding: 0; border: 0 none;
	font-weight: inherit; vertical-align: baseline;
}

.siso-dialog {
	background-color: #F9F9F9;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.17), 0 0 100px 50px #FFFFFF;
	text-align: center;
	border: 1px solid #B6B6B6;
	border-radius: 5px 5px 5px 5px;
	margin: 0 auto;
	max-width: 390px;
}

.siso-dialog-head {
	margin: 0;
	border-bottom-width: 1px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 21px; height: 44px; line-height: 45px;
	font-weight: 500;

	background-color: #555;
	background-image: -moz-linear-gradient(#888, #000);
	border-color: #000;
	border-style: solid;
	color: #eee;
}

.siso-dialog-body { color: #444; padding: 25px 30px; }

#login-dialog { margin-top:100px; }


div#outter-frame { min-height: 100%; height: auto !important; height: 100%;
	margin: 0 auto -70px; }
div#page-tail {
	border-top:1px solid #999; margin: 0 150px 10px 10px; padding: 5px 0;
	height: 60px; position: relative;
	text-align:right; color:#888;
	font-size: 0.8em; }
div#page-tail ul li { list-style:none; }
